{% block title %}Przedmioty{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Słownik przedmiotów</h1>
    {% if librarySubjects is not empty %}
    <table>
	<tr>
	    <td>Nazwa</td>
	    <td>Opis</td>
	    <td>Edytuj</td>
	    <td>Usuń</td>
	</tr>
	{% for i in 0..librarySubjects|length-1 %}
	    <tr>
		<td>{{ librarySubjects[i].nazwa }}</td>
		<td>{{ librarySubjects[i].opis }}</td>
		<td><a href="{{ url('subjects',{'id':librarySubjects[i].id} ) }}">edytuj</a></td>
		<td>
		    <a href="{{ url('subjects',{'id':librarySubjects[i].id,'delete':1} ) }}">usuń</a>
		</td>
	    </tr>
	{% endfor %}
    </table>
    {% else %}
	brak
    {% endif %}
    <h2>Dodawanie/edytowanie</h2>
    {{form(formLibrarySubjects)}}
    
    <h1>Przedmioty</h1>
    {% if subjects is not empty %}
    <table>
	<tr>
	    <td>Prowadzący</td>
	    <td>Przedmiot</td>
	    <td>Edytuj</td>
	    <td>Usuń</td>
	</tr>
	{% for i in 0..subjects|length-1 %}
	    <tr>
		<td>{{ subjects[i].prowadzacy.imie }} {{ subjects[i].prowadzacy.nazwisko }}</td>
		<td>{{ subjects[i].przedmiot.nazwa }}</td>
		<td>
		    <a href="{{ url('subjects',{'id':subjects[i].id,'form':'przedmioty'} ) }}">
			edytuj
		    </a>
		</td>
		<td>
		    <a href="{{ url('subjects',{'id':subjects[i].id,
		    'form':'przedmioty','delete':1} ) }}">usuń</a>
		</td>
	    </tr>
	{% endfor %}
    </table>
    {% else %}
	brak
    {% endif %}
    <h2>Dodawanie/edytowanie</h2>
    {{form(formSubjects)}}
{% endblock %}